@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

main .environment {
    height: 100vh;
    width: 100vw;

    .ball {
        aspect-ratio: 1;
        background-color: rgb(36, 136, 235);
        border-radius: 100px;
        height: 100px;
        position: absolute;

        filter: hue-rotate(0deg);
    }

    .settings {
        @include flex;

        aspect-ratio: 0.5;
        flex-direction: column;
        height: 200px;
        justify-content: flex-start;
        position: absolute;

        .hidden {
            height: 0%;
            width: 0%;
            opacity: 0;
        }

        button {
            @include flex;

            flex-direction: column;
            margin: 5px;
            width: 75%;

            span, input {
                width: 80%;
            }
        }
    }
}